force-app/main/default/flows/afterEventCreatedSessionCount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>check_session_completed</name>
        <label>check session completed</label>
        <locationX>137</locationX>
        <locationY>270</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_end_date</name>
            <conditionLogic>(1 AND 2 AND (3 OR 4))</conditionLogic>
            <conditions>
                <leftValueReference>get_UR_Record.Date_Time_of_Review__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.StartDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ElixirSuite__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ElixirSuite__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Show</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_UR_Record</targetReference>
            </connector>
            <label>check start date</label>
        </rules>
        <rules>
            <name>event_is_new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkeventisnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_UR_Record.Date_Time_of_Review__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.StartDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_UR_Record</targetReference>
            </connector>
            <label>event is new</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>checkeventisnew</name>
        <dataType>Boolean</dataType>
        <expression>(ISNEW() &amp;&amp; TEXT({!$Record.ElixirSuite__Status__c}) = &quot;Completed&quot;)</expression>
    </formulas>
    <formulas>
        <name>newSessionAvailable</name>
        <dataType>Number</dataType>
        <expression>{!get_UR_Record.Sessions_Available__c} - 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>newSesssionCompleted</name>
        <dataType>Number</dataType>
        <expression>{!get_UR_Record.Sessions_Completed__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>afterEventCreatedSessionCount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>afterEventCreatedSessionCount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_UR_Record</name>
        <label>get UR Record</label>
        <locationX>149</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_session_completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initial Review</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Utilization_Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_UR_Record</name>
        <label>update UR Record</label>
        <locationX>519</locationX>
        <locationY>407</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_UR_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sessions_Available__c</field>
            <value>
                <elementReference>newSessionAvailable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sessions_Completed__c</field>
            <value>
                <elementReference>newSesssionCompleted</elementReference>
            </value>
        </inputAssignments>
        <object>Utilization_Review__c</object>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_UR_Record</targetReference>
        </connector>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
