force-app/main/default/flows/CalculatePatientOutstandingAmountUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign_increase_outstanding</name>
        <label>assign increase outstanding</label>
        <locationX>316</locationX>
        <locationY>247</locationY>
        <assignmentItems>
            <assignToReference>getAccount.Outstanding_Amount__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newDiffDecrease</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>increase_account_outstanding</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_outstanding</name>
        <label>assign outstanding</label>
        <locationX>116</locationX>
        <locationY>444</locationY>
        <assignmentItems>
            <assignToReference>getAccount.Outstanding_Amount__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>newDiff</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_outstanding_at_insert</name>
        <label>assign outstanding at insert</label>
        <locationX>1054</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>getAccount.Outstanding_Amount__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.PatientOutstanding__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>increase_outstanding</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Patient_Outstanding</name>
        <label>check Patient Outstanding</label>
        <locationX>348</locationX>
        <locationY>433</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decreaseInOutstanding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ElixirSuite__PatientOutstanding__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.PatientOutstanding__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_outstanding</targetReference>
            </connector>
            <label>decreaseInOutstanding</label>
        </rules>
        <rules>
            <name>increaseOutstanding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__PatientOutstanding__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.PatientOutstanding__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_increase_outstanding</targetReference>
            </connector>
            <label>increaseOutstanding</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_record_is_inserted_or_updated</name>
        <label>check record is inserted or updated</label>
        <locationX>1025</locationX>
        <locationY>307</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_inserted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_outstanding_at_insert</targetReference>
            </connector>
            <label>record inserted</label>
        </rules>
        <rules>
            <name>record_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isUpdateRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_Patient_Outstanding</targetReference>
            </connector>
            <label>record updated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>isUpdateRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.ElixirSuite__PatientOutstanding__c})</expression>
    </formulas>
    <formulas>
        <name>newDiff</name>
        <dataType>Number</dataType>
        <expression>{!$Record__Prior.ElixirSuite__PatientOutstanding__c} - {!$Record.ElixirSuite__PatientOutstanding__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>newDiffDecrease</name>
        <dataType>Number</dataType>
        <expression>{!$Record.ElixirSuite__PatientOutstanding__c} - {!$Record__Prior.ElixirSuite__PatientOutstanding__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CalculatePatientOutstandingAmountUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CalculatePatientOutstandingAmountUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>988</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_record_is_inserted_or_updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>increase_account_outstanding</name>
        <label>increase account outstanding</label>
        <locationX>308</locationX>
        <locationY>71</locationY>
        <inputReference>getAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>increase_outstanding</name>
        <label>increase outstanding</label>
        <locationX>742</locationX>
        <locationY>537</locationY>
        <inputReference>getAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_account</name>
        <label>update account</label>
        <locationX>146</locationX>
        <locationY>225</locationY>
        <inputReference>getAccount</inputReference>
    </recordUpdates>
    <start>
        <locationX>454</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PatientOutstanding__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>PatientOutstanding__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Payment_Transaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
