force-app/main/default/flows/Change_Equipment_Recordtype_after_record_creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>check_Record_Type_Name</name>
        <label>check Record Type Name</label>
        <locationX>810</locationX>
        <locationY>354</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_type_name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New_Equipment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Recordtype</targetReference>
            </connector>
            <label>record type name</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Change Equipment Recordtype after record creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Equipment Recordtype after record creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Recordtype</name>
        <label>Get Recordtype</label>
        <locationX>577</locationX>
        <locationY>456</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_recordtype_after_record_creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipment</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>EquipmentRecordtype</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Change_recordtype_after_record_creation</name>
        <label>Change recordtype after record creation</label>
        <locationX>196</locationX>
        <locationY>416</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>EquipmentRecordtype</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>check_Record_Type_Name</targetReference>
        </connector>
        <object>Equipment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EquipmentRecordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
