force-app/main/default/flows/Discharge_Patient_Removal_from_Group_Patients.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_If_Matching_Group_Patients_are_Present</name>
        <label>Check If Matching Group Patients are Present?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matched_Group_Patient_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_Group_Patients</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Discharged_Group_Patients_0</targetReference>
            </connector>
            <label>Matched Group Patient Present</label>
        </rules>
    </decisions>
    <description>Discharged Patients Removal from Group Patients</description>
    <interviewLabel>Discharge Patient Removal from Group Patients {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Discharge Patient Removal from Group Patients</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Discharged_Group_Patients_0</name>
        <label>Delete Discharged Group Patients</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputReference>Get_Matching_Group_Patients</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Get Group Patients records with matching patient</description>
        <name>Get_Matching_Group_Patients</name>
        <label>Get Matching Group Patients</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Matching_Group_Patients_are_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Patient_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group_Patient__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Matching_Group_Patients</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Status_Of_Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Discharged Patients</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
