force-app/main/default/flows/GuarantorFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>ConditionCheck</name>
        <label>ConditionCheck</label>
        <locationX>243</locationX>
        <locationY>372</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RelationshipType</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Relationship__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>18</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Address__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.BillingAddress</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__City__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.BillingCity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__DOB__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.DOB__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__First_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.First_Name__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Gender__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.Gender__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Last_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.Last_Name__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Phone__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.Phone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__State__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.BillingState</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Zip__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.BillingPostalCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateGuarantor</targetReference>
            </connector>
            <label>RelationshipType</label>
        </rules>
        <rules>
            <name>SameAddressAsAccount</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4 OR 5 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Use_Same_Address_As_Patient__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Address__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.BillingStreet</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__City__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.BillingCity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__State__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.BillingState</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Zip__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.BillingPostalCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAddress</targetReference>
            </connector>
            <label>SameAddressAsAccount</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>GuarantorFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GuarantorFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateAddress</name>
        <label>UpdateAddress</label>
        <locationX>538</locationX>
        <locationY>473</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Use_Same_Address_As_Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateGuarantor</name>
        <label>UpdateGuarantor</label>
        <locationX>50</locationX>
        <locationY>451</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Relationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>18</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DOB__c</field>
            <value>
                <elementReference>$Record.Account__r.DOB__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>$Record.Account__r.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>$Record.Account__r.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.Account__r.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Account__r.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>123</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ConditionCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Guarantor__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
