force-app/main/default/flows/Payment_Amount_and_Date_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Error_Handling</name>
        <label>Error Handling</label>
        <locationX>440</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Payment Amount and Date update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Plan Line Item Field updation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_plan_line_records</name>
        <label>Update plan line records</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <faultConnector>
            <targetReference>Error_Handling</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Last_Payment_Amount__c</field>
            <value>
                <elementReference>$Record.Payment_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Payment_Date__c</field>
            <value>
                <elementReference>$Record.Payment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Payment_Plan_Line_Item__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_plan_line_records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Payment_Amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Payment_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Payment_Transaction_Line_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ErrorMessg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
