force-app/main/default/flows/Payment_line_status_upadation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>ErrorHandling</name>
        <label>ErrorHandling</label>
        <locationX>440</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>ErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Status</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.ElixirSuite__Balance_Due__c}=0, &apos;Paid&apos;, IF({!$Record.ElixirSuite__Amount_Paid__c}&gt;0&amp;&amp;{!$Record.ElixirSuite__Amount_Paid__c}&lt;{!$Record.ElixirSuite__Installment_Amount__c}, &apos;Partially Paid&apos;, &apos;Unpaid&apos;))</expression>
    </formulas>
    <interviewLabel>Payment line status upadation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment line status upadation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_status</name>
        <label>update status</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <faultConnector>
            <targetReference>ErrorHandling</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>update_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Installment_Amount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Payment_Plan_Line_Item__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
