force-app/main/default/flows/Payment_Plan_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_payment_Line_Item_To_List</name>
        <label>Add payment Line Item To List</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>PaymentLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PaymentPlanLineItemRecords</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingPatientResponsibility</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Installment_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>No_of_Recurrence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Day_Addition</name>
        <label>Day Addition</label>
        <locationX>248</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Frequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InstallmentNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoOfInstallments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingPatientResponsibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Patient_Responsibility__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InstallmentNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_of_Recurrence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Days_Addition_2</name>
        <label>Days Addition 2</label>
        <locationX>512</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Frequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InstallmentNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoOfInstallments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingPatientResponsibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Patient_Responsibility__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InstallmentNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_of_Recurrence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Days_Addition_3</name>
        <label>Days Addition 3</label>
        <locationX>776</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Frequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingPatientResponsibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Patient_Responsibility__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InstallmentNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NoOfInstallments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InstallmentNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_of_Recurrence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Days_Addition_4</name>
        <label>Days Addition 4</label>
        <locationX>1040</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Frequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>365.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingPatientResponsibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Patient_Responsibility__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InstallmentNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoOfInstallments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InstallmentNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_of_Recurrence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Defining_Installment_Amount</name>
        <label>Defining Installment Amount</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>InstallmentAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Installment_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DaysToAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Frequency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payment_Line_Item_Record_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Defining_Remaining_Installment_Amount</name>
        <label>Defining Remaining Installment Amount</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>InstallmentAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingPatientResponsibility</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DaysToAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Frequency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payment_Line_Item_Record_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ERROR_HANDLE</name>
        <label>ERROR HANDLE</label>
        <locationX>842</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>FlowError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ErrorHandle</name>
        <label>ErrorHandle</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>ErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>No_of_Recurrence</name>
        <label>No of Recurrence</label>
        <locationX>644</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>InstallmentNumber</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Entry_for_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Payment_Line_Item_Record_Assignment</name>
        <label>Payment Line Item Record Assignment</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>PaymentPlanLineItemRecords.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Patient_Name__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentPlanLineItemRecords.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculateDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentPlanLineItemRecords.Installment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InstallmentAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentPlanLineItemRecords.Payment_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_payment_Line_Item_To_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_of_Installment_Amount</name>
        <label>Check of Installment Amount</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Defining_Remaining_Installment_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Installment_Amount_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemainingPatientResponsibility</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Installment_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemainingPatientResponsibility</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Defining_Installment_Amount</targetReference>
            </connector>
            <label>Installment Amount Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Entry_for_Loop</name>
        <label>Entry for Loop</label>
        <locationX>644</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Installment_No_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InstallmentNumber</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_of_Installment_Amount</targetReference>
            </connector>
            <label>Installment No Check</label>
        </rules>
        <rules>
            <name>InsertionListCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaymentLineItemList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Line_Item_Insertion</targetReference>
            </connector>
            <label>InsertionListCheck</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insertion_or_updation</name>
        <label>Insertion or updation</label>
        <locationX>1320</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_Records_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updation</defaultConnectorLabel>
        <rules>
            <name>IsNewRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_of_InstallmentCheck</targetReference>
            </connector>
            <label>IsNewRecord</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_of_InstallmentCheck</name>
        <label>No of Installment Check</label>
        <locationX>1007</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoOfInstallmentCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoOfInstallments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Patient_Responsibility__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Installment_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoOfInstallments</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Frequency_Check</targetReference>
            </connector>
            <label>NoOfInstallmentCheck</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Frequency_Check</name>
        <label>Payment Frequency Check</label>
        <locationX>644</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Days_Addition_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Daily_Frequnecy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Payment_Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Daily</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Day_Addition</targetReference>
            </connector>
            <label>Daily Frequnecy</label>
        </rules>
        <rules>
            <name>Monthly_Frequency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Payment_Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Days_Addition_2</targetReference>
            </connector>
            <label>Monthly Frequency</label>
        </rules>
        <rules>
            <name>Weekly_Frequency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Payment_Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Weekly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Days_Addition_3</targetReference>
            </connector>
            <label>Weekly Frequency</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalculateDueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() +{!DaysToAdd}</expression>
    </formulas>
    <formulas>
        <name>Isnew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>NoOfInstallments</name>
        <dataType>Number</dataType>
        <expression>CEILING({!$Record.ElixirSuite__Patient_Responsibility__c}/{!$Record.ElixirSuite__Installment_Amount__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PaymentStatus</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.ElixirSuite__Total_Balance_Due__c}=0, &apos;Paid&apos;, IF({!$Record.ElixirSuite__Total_Amount_Paid__c}&gt;0, &apos;Partially Paid&apos;, &apos;Unpaid&apos;))</expression>
    </formulas>
    <formulas>
        <name>Status</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.ElixirSuite__Total_Balance_Due__c}=0, &apos;Completed&apos;,&apos;Active&apos;)</expression>
    </formulas>
    <interviewLabel>Payment Plan Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Plan Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Payment_Line_Item_Insertion</name>
        <label>Payment Line Item Insertion</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <faultConnector>
            <targetReference>ERROR_HANDLE</targetReference>
        </faultConnector>
        <inputReference>PaymentLineItemList</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <faultConnector>
            <targetReference>ErrorHandle</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <elementReference>PaymentStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1194</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Insertion_or_updation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Responsibility__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Installment_Amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Installment_Amount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Patient_Responsibility__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Payment_Plan__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DaysToAdd</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FlowError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Frequency</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>InstallmentAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>InstallmentNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PaymentLineItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Plan_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>PaymentPlanLineItemRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Plan_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>RemainingPatientResponsibility</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
