force-app/main/default/flows/UpdateLotItemsQuantity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>StopRecusrionInLotItems</name>
        <label>StopRecusrionInLotItems</label>
        <locationX>511</locationX>
        <locationY>504</locationY>
        <actionName>DeceasedGlobalStopRecursion</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UpdateLotItems</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AssignCountOflineItems</name>
        <label>AssignCountOflineItems</label>
        <locationX>342</locationX>
        <locationY>495</locationY>
        <assignmentItems>
            <assignToReference>numberOfLineItems</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getLineItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StopRecusrionInLotItems</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>UpdateLotItemsQuantity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateLotItemsQuantity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getLineItems</name>
        <label>getLineItems</label>
        <locationX>430</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignCountOflineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Item_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Item_Name__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Available__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>In_Maintenance__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lot_Line_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateLotItems</name>
        <label>UpdateLotItems</label>
        <locationX>660</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>updateOrderItemsNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Item_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available_Qty__c</field>
            <value>
                <elementReference>numberOfLineItems</elementReference>
            </value>
        </inputAssignments>
        <object>Lot_Item__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateOrderItemsNull</name>
        <label>updateOrderItemsNull</label>
        <locationX>835</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Item_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Item_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order_Line_Item__c</field>
            <value>
                <elementReference>OrderItemNull</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getLineItems</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Available__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>In_Maintenance__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lot_Line_Items__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NumberOfInMaintenanceRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>numberOfLineItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OrderItemNull</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
