force-app/main/default/flows/updateOrder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>check_Order_Values</name>
        <label>check Order Values</label>
        <locationX>216</locationX>
        <locationY>175</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_Order_Status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Order_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Order_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Return_Initiation_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Return_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Return_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Return_Reason__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_order_line_item_status</targetReference>
            </connector>
            <label>check Order Fields</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>updateOrder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>updateOrder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_order_line_item_status</name>
        <label>update order line item status</label>
        <locationX>134</locationX>
        <locationY>433</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order_Line_Item_Date__c</field>
            <value>
                <elementReference>$Record.Order_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Line_Item_Status__c</field>
            <value>
                <elementReference>$Record.Order_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Date__c</field>
            <value>
                <elementReference>$Record.Return_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Initiation_Date__c</field>
            <value>
                <elementReference>$Record.Return_Initiation_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Reason__c</field>
            <value>
                <elementReference>$Record.Return_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Status__c</field>
            <value>
                <elementReference>$Record.Return_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Inventory__c</object>
    </recordUpdates>
    <start>
        <locationX>487</locationX>
        <locationY>107</locationY>
        <connector>
            <targetReference>check_Order_Values</targetReference>
        </connector>
        <object>Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
