force-app/main/default/flows/updateProcStatusForAppointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assign_Procedure_Status</name>
        <label>assign Procedure Status</label>
        <locationX>522</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>loop_over_Patient_Procedures.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Updated_Procedures</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Updated_Procedures</name>
        <label>assign Updated Procedures</label>
        <locationX>817</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>UpdatedProcedures</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_over_Patient_Procedures</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_Patient_Procedures</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>updateProcStatusForAppointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>updateProcStatusForAppointment</label>
    <loops>
        <name>loop_over_Patient_Procedures</name>
        <label>loop over Patient Procedures</label>
        <locationX>286</locationX>
        <locationY>506</locationY>
        <collectionReference>get_Patient_Procedure</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_Procedure_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Procedure_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Patient_Procedure</name>
        <label>get Patient Procedure</label>
        <locationX>270</locationX>
        <locationY>285</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_over_Patient_Procedures</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txtEventId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Procedure__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Procedure_Status</name>
        <label>update Procedure Status</label>
        <locationX>1007</locationX>
        <locationY>177</locationY>
        <inputReference>UpdatedProcedures</inputReference>
    </recordUpdates>
    <start>
        <locationX>454</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_Patient_Procedure</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>txtEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>UpdatedProcedures</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Procedure__c</objectType>
    </variables>
</Flow>
