force-app/main/default/flows/Update_Contact_Do_Not_Contact_field_from_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_new_value_to_Do_not_Contact_field</name>
        <label>Assign new value to Do not Contact field</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_all_contact_records.Do_Not_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Do_Not_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_all_contact_records.Flow_date_time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_list_of_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_list_of_contact</name>
        <label>Update list of contact</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>UpdateContactRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_all_contact_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_contact_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_records_are_present_or_not</name>
        <label>Check if records are present or not</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_contact_records</targetReference>
            </connector>
            <label>Is not null</label>
        </rules>
    </decisions>
    <interviewLabel>Update Contact Do Not Contact field from Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact Do Not Contact field from Account</label>
    <loops>
        <name>Loop_through_all_contact_records</name>
        <label>Loop through all contact records</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Contact_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_new_value_to_Do_not_Contact_field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_contact_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_records</name>
        <label>Get Contact records</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_records_are_present_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Do_Not_Contact__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_contact_records</name>
        <label>Update contact records</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputReference>UpdateContactRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Do_Not_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Do_Not_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UpdateContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
