force-app/main/default/flows/Update_Alumni_care_services_Do_Not_Contact_field_from_account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>update_do_not_contact_on_alumni</name>
        <label>update do not contact on alumni</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_alumni_records.Do_Not_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Do_Not_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_over_alumni_records.Flow_date_time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_list_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_list_variable</name>
        <label>Update list variable</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Listofvariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_alumni_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_alumni_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_there_are_alumni_records_for_this_account</name>
        <label>Check if there are alumni records for this account</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_Alumni_care_services</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_alumni_records</targetReference>
            </connector>
            <label>Is not null</label>
        </rules>
    </decisions>
    <interviewLabel>Update Alumni care services Do Not Contact field from account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Alumni care services Do Not Contact field from account</label>
    <loops>
        <name>Loop_over_alumni_records</name>
        <label>Loop over alumni records</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_related_Alumni_care_services</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_do_not_contact_on_alumni</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_alumni_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_related_Alumni_care_services</name>
        <label>Get related Alumni care services</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_there_are_alumni_records_for_this_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Alumni_Care_Services__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Do_Not_Contact__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_alumni_records</name>
        <label>Update alumni records</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputReference>Listofvariable</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_related_Alumni_care_services</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Do_Not_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Do_Not_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Listofvariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Alumni_Care_Services__c</objectType>
    </variables>
</Flow>
