force-app/main/default/flows/update_opportunity_do_not_contact_field_from_account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_new_value_to_do_not_contact</name>
        <label>Assign new value to do not contact</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>loop_over_opportunities.Do_Not_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Do_Not_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_over_opportunities.Flow_date_time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_opportunity_to_updated_opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_opportunity_to_updated_opportunity</name>
        <label>update opportunity to updated opportunity</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>updateopportunity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_over_opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_opportunities</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_opportunities_for_this_account</name>
        <label>Check if opportunities for this account</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_over_opportunities</targetReference>
            </connector>
            <label>is not null</label>
        </rules>
    </decisions>
    <interviewLabel>update opportunity do not contact field from account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>update opportunity do not contact field from account</label>
    <loops>
        <name>loop_over_opportunities</name>
        <label>loop over opportunities</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_related_opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_new_value_to_do_not_contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_related_opportunities</name>
        <label>Get related opportunities</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_opportunities_for_this_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Do_Not_Contact__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_opportunity</name>
        <label>Update opportunity</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputReference>updateopportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_related_opportunities</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Do_Not_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Do_Not_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>updateopportunity</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
