force-app/main/default/flows/Update_Tasks_on_Contact_when_Do_Not_Contact_is_True.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Update_list_variable</name>
        <label>Update list variable</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>GetListVariableToUpdateStatus</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_tasks_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_tasks_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_task_status</name>
        <label>Update task status</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_tasks_records.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_list_variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_records_exist_or_not</name>
        <label>Check if records exist or not</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_tasks_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_tasks_records</targetReference>
            </connector>
            <label>Is not null</label>
        </rules>
    </decisions>
    <interviewLabel>Update Tasks on Contact when Do Not Contact is True {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Tasks on Contact when Do Not Contact is True</label>
    <loops>
        <name>Loop_through_tasks_records</name>
        <label>Loop through tasks records</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_related_tasks_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_task_status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_task_status_on_contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_related_tasks_records</name>
        <label>Get related tasks records</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_records_exist_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_task_status_on_contact</name>
        <label>Update task status on contact</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputReference>GetListVariableToUpdateStatus</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_related_tasks_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Do_Not_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GetListVariableToUpdateStatus</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
