force-app/main/default/flows/UpdatePCQtyfrmLotItem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>IdentifyNewRec</name>
        <label>IdentifyNewRec</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NewReord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ElixirSuite__Available_Qty__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Is_updated_From_Flow_Field_To_True_While_Inserting</targetReference>
            </connector>
            <label>NewReord</label>
        </rules>
        <rules>
            <name>UpdRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ElixirSuite__Available_Qty__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Is_updated_From_Flow_Field_To_True_While_Updating</targetReference>
            </connector>
            <label>UpdRecord</label>
        </rules>
    </decisions>
    <description>UpdatePCQtyfrmLotItem</description>
    <environments>Default</environments>
    <formulas>
        <name>UpdPCQtyFrmLIUpd</name>
        <dataType>Number</dataType>
        <expression>If(({!$Record__Prior.ElixirSuite__Available_Qty__c} - {!$Record.ElixirSuite__Available_Qty__c}) &gt;= 0, ({!$Record.ElixirSuite__Procedure_Codes__r.ElixirSuite__Quantity__c}-({!$Record__Prior.ElixirSuite__Available_Qty__c} - {!$Record.ElixirSuite__Available_Qty__c})), ({!$Record.ElixirSuite__Procedure_Codes__r.ElixirSuite__Quantity__c}+({!$Record.ElixirSuite__Available_Qty__c}-{!$Record__Prior.ElixirSuite__Available_Qty__c})))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>UpdPCQtyfromNewLIRec</name>
        <dataType>Number</dataType>
        <expression>{!$Record.ElixirSuite__Procedure_Codes__r.ElixirSuite__Quantity__c}+{!$Record.ElixirSuite__Available_Qty__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>UpdatePCQtyfrmLotItem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdatePCQtyfrmLotItem</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Mark_Is_updated_From_Flow_Field_To_False_While_Inserting</name>
        <label>Mark Is updated From Flow Field To False While Inserting</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Procedure_Codes__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsUpdatedFromFlow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Procedure__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_Is_updated_From_Flow_Field_To_False_While_Updating</name>
        <label>Mark Is updated From Flow Field To False While Updating</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Procedure_Codes__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsUpdatedFromFlow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Procedure__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_Is_updated_From_Flow_Field_To_True_While_Inserting</name>
        <label>Mark Is updated From Flow Field To True While Inserting</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>UpdPCQtyfrmNewLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Procedure_Codes__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsUpdatedFromFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Procedure__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_Is_updated_From_Flow_Field_To_True_While_Updating</name>
        <label>Mark Is updated From Flow Field To True While Updating</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>UpdPCQty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Procedure_Codes__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsUpdatedFromFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Procedure__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdPCQty</name>
        <label>UpdPCQty</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Mark_Is_updated_From_Flow_Field_To_False_While_Updating</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Procedure_Codes__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>UpdPCQtyFrmLIUpd</elementReference>
            </value>
        </inputAssignments>
        <object>Procedure__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdPCQtyfrmNewLI</name>
        <label>UpdPCQtyfrmNewLI</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Mark_Is_updated_From_Flow_Field_To_False_While_Inserting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Procedure_Codes__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>UpdPCQtyfromNewLIRec</elementReference>
            </value>
        </inputAssignments>
        <object>Procedure__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IdentifyNewRec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Procedure_Codes__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lot_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
