force-app/main/default/flows/UR_Concurrent_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Event_Status</name>
        <label>Check Event Status</label>
        <locationX>194</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_status</name>
            <conditionLogic>(1 AND 2 AND (3 OR 4))</conditionLogic>
            <conditions>
                <leftValueReference>get_UR_Concurrent.Date_Time_of_Review__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.StartDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ElixirSuite__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ElixirSuite__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Show</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_UR_Concurrent</targetReference>
            </connector>
            <label>check status</label>
        </rules>
        <rules>
            <name>check_event_is_new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eventisnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_UR_Concurrent.Date_Time_of_Review__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.StartDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_UR_Concurrent</targetReference>
            </connector>
            <label>check event is new</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>eventisnew</name>
        <dataType>Boolean</dataType>
        <expression>(ISNEW() &amp;&amp; TEXT({!$Record.ElixirSuite__Status__c}) = &quot;Completed&quot;)</expression>
    </formulas>
    <formulas>
        <name>NewSessionAvail</name>
        <dataType>Number</dataType>
        <expression>{!get_UR_Concurrent.Sessions_Available__c} - 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>newSessionComp</name>
        <dataType>Number</dataType>
        <expression>{!get_UR_Concurrent.Sessions_Completed__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>UR Concurrent Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UR Concurrent Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_UR_Concurrent</name>
        <label>get UR Concurrent</label>
        <locationX>160</locationX>
        <locationY>136</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Event_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Concurrent Review</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Utilization_Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_UR_Concurrent</name>
        <label>Update UR Concurrent</label>
        <locationX>486</locationX>
        <locationY>454</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_UR_Concurrent.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sessions_Available__c</field>
            <value>
                <elementReference>NewSessionAvail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sessions_Completed__c</field>
            <value>
                <elementReference>newSessionComp</elementReference>
            </value>
        </inputAssignments>
        <object>Utilization_Review__c</object>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_UR_Concurrent</targetReference>
        </connector>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
