force-app/main/default/flows/VOBFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>ConditionForInsurance</name>
        <label>ConditionForInsurance</label>
        <locationX>205</locationX>
        <locationY>65</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RelationshipType</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Patient_Relationship_With_Insured__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Self</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Insured_Address__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.BillingStreet</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Insured_City__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.BillingCity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Insured_Country__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.BillingCountry</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Insured_State__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.BillingState</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Insured_Zipcode__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.BillingPostalCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Date_Of_Birth__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.DOB__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Gender__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.Gender__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__InsPhone__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.Phone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Insured_First_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.First_Name__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Insured_Last_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.Last_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateVob</targetReference>
            </connector>
            <label>RelationshipType</label>
        </rules>
        <rules>
            <name>SameAddressAsAccount</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4 OR 5 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Address_Same_as_Patient__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Insured_Address__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.BillingStreet</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Insured_City__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.BillingCity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Insured_State__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.BillingState</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElixirSuite__Insured_Zipcode__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.BillingPostalCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAddress</targetReference>
            </connector>
            <label>SameAddressAsAccount</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Null_Check_For_Address</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.ElixirSuite__Insured_Address__c}),{!$Record.ElixirSuite__Account__r.BillingStreet}, {!$Record.ElixirSuite__Insured_Address__c})</expression>
    </formulas>
    <formulas>
        <name>Null_Check_For_City</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.ElixirSuite__Insured_City__c}), {!$Record.ElixirSuite__Account__r.BillingCity}, {!$Record.ElixirSuite__Insured_City__c})</expression>
    </formulas>
    <formulas>
        <name>Null_Check_For_DOB</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.ElixirSuite__Date_Of_Birth__c}), {!$Record.ElixirSuite__Account__r.ElixirSuite__DOB__c}, {!$Record.ElixirSuite__Date_Of_Birth__c})</expression>
    </formulas>
    <formulas>
        <name>Null_Check_For_FirstName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.ElixirSuite__Insured_First_Name__c}), {!$Record.ElixirSuite__Account__r.ElixirSuite__First_Name__c}, {!$Record.ElixirSuite__Insured_First_Name__c})</expression>
    </formulas>
    <formulas>
        <name>Null_Check_For_GenderV2</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.ElixirSuite__Gender__c}) = &quot;&quot;, TEXT({!$Record.ElixirSuite__Account__r.ElixirSuite__Gender__c}), TEXT({!$Record.ElixirSuite__Gender__c}))</expression>
    </formulas>
    <formulas>
        <name>Null_Check_For_LastName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.ElixirSuite__Insured_Last_Name__c}), {!$Record.ElixirSuite__Account__r.ElixirSuite__Last_Name__c}, {!$Record.ElixirSuite__Insured_Last_Name__c})</expression>
    </formulas>
    <formulas>
        <name>Null_Check_For_Phone</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.ElixirSuite__InsPhone__c}), {!$Record.ElixirSuite__Account__r.Phone}, {!$Record.ElixirSuite__InsPhone__c})</expression>
    </formulas>
    <formulas>
        <name>Null_Check_For_State</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.ElixirSuite__Insured_State__c}), {!$Record.ElixirSuite__Account__r.BillingState}, {!$Record.ElixirSuite__Insured_State__c})</expression>
    </formulas>
    <formulas>
        <name>Null_Check_For_Zipcode</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.ElixirSuite__Insured_Zipcode__c}), {!$Record.ElixirSuite__Account__r.BillingPostalCode}, {!$Record.ElixirSuite__Insured_Zipcode__c})</expression>
    </formulas>
    <interviewLabel>VOBFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VOBFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateAddress</name>
        <label>UpdateAddress</label>
        <locationX>339</locationX>
        <locationY>362</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address_Same_as_Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Insured_Address__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Insured_City__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Insured_State__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Insured_Zipcode__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Insured_Address__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insured_City__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insured_State__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insured_Zipcode__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateVob</name>
        <label>UpdateVob</label>
        <locationX>67</locationX>
        <locationY>367</locationY>
        <inputAssignments>
            <field>Date_Of_Birth__c</field>
            <value>
                <elementReference>$Record.Account__r.DOB__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>$Record.Account__r.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InsPhone__c</field>
            <value>
                <elementReference>$Record.Account__r.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insured_Address__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insured_City__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insured_Country__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insured_First_Name__c</field>
            <value>
                <elementReference>$Record.Account__r.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insured_Last_Name__c</field>
            <value>
                <elementReference>$Record.Account__r.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insured_State__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insured_Zipcode__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>597</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>ConditionForInsurance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>VOB__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
